<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<!-- Default settings (default is ENG) -->
		<add key="externalvarsurl" value="https://www.habbo.com/gamedata/external_variables/1" />
		<add key="externaltexturl" value="https://habbo.com/gamedata/external_flash_texts/1" />
		<add key="furnitureurl" value="http://images.habbo.com/dcr/hof_furni" />
		<add key="productdataurl" value="https://habbo.com/gamedata/productdata/1" />
		<add key="furnidataTXT" value="https://habbo.com/gamedata/furnidata/1" />
		<add key="furnidataXML" value="https://www.habbo.com/gamedata/furnidata_xml/1" />
		<add key="receptionurl" value="http://images.habbo.com/c_images/reception" />
		<add key="catalogurl" value="http://habboo-a.akamaihd.net/c_images/catalogue" />
		<add key="promosmallurl" value="http://images.habbo.com/c_images/web_promo_small" />
		<add key="catalogiconurl" value="https://images.habbo.com/c_images/catalogue/icon_" />
		<add key="soundmachineurl" value="https://images.habbo.com/dcr/hof_furni/mp3/sound_machine_sample_" />
		<add key="effecturl" value="https://images.habbo.com/gordon" />
		<add key="questsurl" value="https://images.habbo.com/c_images/Quests" />

		<add key="customvariables" value="expl. https://www.habbo.com/gamedata/external_variables/1" />
		<!-- Custom Clothes settings, set path to clothes !!! Don't forget the / at the end of the path !!!-->
		<add key="customclothesdir" value="expl. http://images.habbo.com/dcr/hof_furni/" />
		<!-- Custom Clothes settings, set url to figuremap.xml -->
		<add key="customfiguremap" value="url to figuremap.xml" />
		<!-- Custom Clothes settings, set url to figuredata.xml -->
		<add key="customfiguredata" value="url to figuredata.xml" />
		
		<!-- Custom furnidata settings, set url to furnidata.txt -->
		<add key="customfurnidata" value="https://habbo.com/gamedata/furnidata/1" />
		<add key="customfurnidataxml" value="https://www.habbo.com/gamedata/furnidata_xml/1" />
		
		<!-- Custom Productdata settings, set url to productdata.txt -->
		<add key="customproductdataurl" value="https://habbo.com/gamedata/productdata/1" />

		<!-- Custom Furniture settings, set the file path. -->
		<add key="customfurnitureurl" value="http://images.habbo.com/dcr/hof_furni/" />
		<add key="customiconureurl" value="http://images.habbo.com/dcr/hof_furni/icons/" />
		
		<!-- set the file extension expl. .swf / .nitro etc. -->
		<add key="customfileextension"  value=".swf" />
	</appSettings>
</configuration>
